########################################
# FRONTEND (React / Node)
########################################
node_modules/
build/
dist/

frontend/node_modules/
frontend/build/
frontend/dist/

########################################
# BACKEND (Python / Flask)
########################################
venv/
env/
backend/venv/
backend/env/
backend/__pycache__/
__pycache__/

########################################
# Python Cache Files
########################################
*.pyc
*.pyo
*.pyd

########################################
# Environment Files
########################################
.env
.env.local
.env.development
.env.production

########################################
# Database Files
########################################
*.sqlite3
*.db
*.psql
*.sql

########################################
# Logs
########################################
*.log

########################################
# OS Files
########################################
.DS_Store
Thumbs.db

########################################
# IDE Files
########################################
.vscode/
.idea/
*.swp
